{% extends "DhiUserBundle::layout.html.twig" %}
{% block body %}
<div class="innerBg">
    <div class="container">
        <div class="row">
             <h3>Oops! Something went wrong.</h3>
        </div>
    </div>
</div>
{% endblock body %}