{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        {% if type == 'failure' %}
			<div class="msgBoxCont">
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message|raw }}
            </div>
			</div>
        {% elseif type == 'notice' %}
			<div class="msgBoxCont">
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message|raw }}
            </div>
			</div>
        {% else %}
			<div class="msgBoxCont">
            <div class="alert alert-{{type}}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message|raw }}
            </div>
			</div>
        {% endif %}        
    {% endfor %}
{% endfor %}
