{% block body %}
<main class="cd-main-content">
	<section class="cd-section">
		<div class="row">
			<article class="col-md-12">
				<p>
					If you decide for whatever reason to cancel your {{ companyName }} service, you can do so anytime. No questions asked!
				</p>
			</article>

			<article class="col-md-12">
				<p>
					To cancel, go to <a href="https://{{ brandDomain }}/support">https://{{ brandDomain }}/support</a>, login, select Refund Request in the Support Category dropdown box and an {{ companyName }} Customer Care associate will be in touch with details about your refund.
				</p>
			</article>
		</div>


	</section>
</main>

{% endblock body %}
