{% block body %}
<main class="cd-main-content">
    <section class="cd-section">
           
        <div class="row">
            <article class="col-md-12">
                <h5>Acceptable Devices</h5>
                <p>No unauthorized devices are to be connected into the network at any time. Any device other than a personal computer, phone, tablet or gaming system shall be considered an unauthorized device.  This network is designed, configured and optimized to use our wireless routers. When a third-party router is connected, this can cause technical issues on the network, impacting as many as 200 users at a time. Internet accounts support 1 simultaneous login.</p>
            </article>
        </div>
        
           <div class="row">
            <article class="col-md-12">
                <h5>Acceptable Use Policy</h5>
                <p>All customers and users of this service agree to and must comply with our Acceptable Use Policy (AUP), and your use of any Services, website or software provided, constitutes your agreement to abide by the terms of this AUP. This AUP is intended to improve the use of the Services by preventing unacceptable uses. Our service does not exercise editorial control or review over the content of the Services, or other material created or accessible over or through the Services. However, we may remove, block, filter, or restrict by any other means any materials that, in our sole discretion, may be illegal, may subject us to liability or may violate this AUP. We may cooperate with legal authorities and/or third parties in the investigation of any suspected or alleged crime or civil wrong. Violation of this AUP may result in the suspension or termination of either access to the Service, or other actions as detailed below. Without limiting the foregoing, you agree not to use the Services to:</p>
                <ol type="I">
                    <li><p>Transmit any material (by uploading, posting, email or otherwise) that is unlawful, threatening, abusive, harassing, tortuous, defamatory, obscene, libelous, invasive of another's privacy, hateful or racially, ethnically or otherwise objectionable;</p></li>
                    <li><p>Harm, or attempt to harm, minors in any way;</p></li>
                    <li><p>Impersonate any person or entity or falsely state or otherwise misrepresent your affiliation with a person or entity; forge headers or otherwise manipulate identifiers in order to disguise the origin of any material transmitted through the Services;</p></li>
                    <li><p>Transmit any material (by uploading, posting, email or otherwise) that you do not have a right to make available under any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements);</p></li>
                    <li><p>Transmit any material (by uploading, posting, email or otherwise) that infringes any patent, trademark, trade secret, copyright or other proprietary rights of any party;</p></li>
                    <li><p>Transmit (by uploading, posting, email or otherwise) any unsolicited or unauthorized advertising, promotional materials, "junk mail, "spam, "chain letters", "pyramid schemes", or any other form of solicitation</p></li>
                    <li><p>Transmit any material (by uploading, posting, email or otherwise) that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;</p></li>
                    <li><p>Disrupt the normal flow of dialogue, cause a screen to "scroll" faster than other users of the Service are able to type, or otherwise act in a manner that negatively affects other users' ability to engage in real time exchanges;</p></li>
                    <li><p>Interfere with or disrupt the Services or servers or networks connected to the Service, or disobey any requirements, procedures, policies or regulations of networks connected to the Service</p></li>
                    <li><p>We reserve the right to block any device connected to the network that is knowingly or unknowingly transmitting software viruses, worms, or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software, hardware or telecommunications equipment</p></li>
                    <li><p>Intentionally or unintentionally violate any applicable local, state, national or international law, including, but not limited to, regulations promulgated by the U.S. Securities and Exchange Commission, any rules of any national or other securities exchange, including, without limitation, the New York Stock Exchange, the American Stock Exchange or the NASDAQ, and any regulations having the force of law</p></li>
                    <li><p>"stalk" or otherwise harass another; or collect or store, or attempt to collect or store, personal data about third parties without their knowledge or consent</p></li>
                    <li><p>Resell the Services without our written authorization and expressed written consent</p></li>
                </ol>
                <p>We request that anyone who believes that there is a violation of the AUP to submit the information to our help desk, via the contact or support links on our landing page. Please provide:</p>
                <ol type="I">
                    <li><p>The IP address used to commit the alleged violation</p></li>
                    <li><p>The date and time of the alleged violation, including the time zone</p></li>
                    <li><p>Evidence of the alleged violation</p></li>
                </ol>
        </article>
        </div>
        
        <div class="row">
            <article class="col-md-12">
                <h5>Term of Agreement</h5>
                <p>Continued use of the Services constitutes acceptance of this Agreement and any future versions. If you are dissatisfied with the Services or any related terms, conditions, rules, policies, guidelines, or practices, your sole and exclusive remedy is to discontinue using the Services and terminate your account.</p>
            </article>
        </div>
        
        <div class="row">
            <article class="col-md-12">
                <h5>General Information</h5>
                <p>Please carefully read the following customer agreement ("The Agreement") before signing up and registering for an account. The Agreement is a legally binding agreement between you (an entity or person) and us. By proceeding to establish an account and/or use the service ("Services"), you agree to be bound to the terms and conditions/terms of use stated below in The Agreement. If you do not agree to the terms and conditions/terms of use of The Agreement, you must not sign up and register for an account or use the service.</p>
            </article>
        </div>
        
        <div class="row">
            <article class="col-md-12">
                <h5>Terms & Conditions</h5>
                <p>The terms and conditions of The Agreement govern the relationship between you ("Customer" or "you") and us. We provide connectivity, and other services ("Services") to customers who establish an account. You must be at least 18 years old to establish an account. By establishing or using an account with us you agree to be bound by The Agreement and to use the Services in compliance with The Agreement and other Services policies posted on our website and/or Exchange websites.</p>
            </article>
        </div>
        
        <div class="row">
            <article class="col-md-12">
                <h5>Payment Obligations</h5>
               <p>You must (i) provide accurate and complete billing information including legal name, address, telephone number, and credit card/billing information, and (ii) report all changes to this information within 30 days of the change. You are responsible for any charges to your account. If you have questions regarding charges to an account, you should contact our Customer Service Department, using the contact-us (phone and support form) links provided on our page. All charges are considered valid unless disputed in writing within 15 days of the charged date. Adjustments may not be made for charges that are more than 15 days old.</p>
            </article>
        </div>
        
        <div class="row">
            <article class="col-md-12">
                <h5>Your Username and Password Security</h5>
                <p>Upon registration, you will receive a username, password, and/or an account identification number. You are the only authorized user of your account. You should keep your password confidential so that no one else may access the Services through your account. Please notify us immediately upon discovering any unauthorized use of your account.</p>
            </article>
        </div>
        
        <div class="row">
            <article class="col-md-12">
                <h5>Monitoring The Services</h5>
                <p>We have no obligation to monitor the Services, but may do so and disclose information regarding use of the Services for any reason, including to satisfy laws, regulations, government reporting requirements, or governmental or legal requests; operate the Services properly; or protect itself and its customers.</p>
            </article>
        </div>
        
        <div class="row">
            <article class="col-md-12">
                <h5>Warranty Disclaimer</h5>
                <p>Except for certain products and services specifically identified as being offered by us, we not create any content, materials, information, products or services viewed, seen or heard within The Services. The Services contain unedited content, some of which may be mature, explicit or may be offensive to you. We have no control over and accept no responsibility for such content. You assume full responsibility and risk of the Services and are solely responsible for evaluating the accuracy, completeness and usefulness of all services, products, and other information and the quality and merchantability of all merchandise viewed through the Services.</p>
            </article>
        </div>
        
        <div class="row">
            <article class="col-md-12">
                <h5>Limitation of Liability</h5>
                <p>The Services are provided on an as-is and as- available basis. We do not warrant that the Services will be uninterrupted, including but not limited to scheduled and/or unscheduled local power interruptions, brown outs, black outs, power surges or power outages. We do not warrant that the Services will be error-free, and make no warranties, express, implied or statutory and customer waives all warranties, including but not limited to: warranties of title, non-infringement merchantability and fitness for a particular purpose regarding any merchandise, information or service provided by or through us directly or indirectly. You expressly acknowledge that there are security, privacy and confidentiality risks inherent in communications and technology and we not make any assurances or warranties relating to such risks. No advice or information given by us or our representatives will create a warranty. We, and our employees are not liable for any costs or damages arising directly or indirectly from your use of the Services including any indirect, incidental, exemplary, multiple, special, punitive or consequential damages in any event of our cumulative liability to any customer for any and all claims relating to the use of the Services and/or licensed programs will not exceed the total amount of service fees paid during a one year period preceding the accrual of the claim.</p>
            </article>
        </div>
        
        <div class="row">
            <article class="col-md-12">
                <h5>Indemnification</h5>
                <p>You agree, at your expense, to defend and hold us harmless, including all of our affiliates, officers, directors and employees from and against any and all costs, damages and reasonable attorneys' fees resulting from any claim that your use of the Services injured or otherwise violated any right of any third party or violates any law.</p>
            </article>
        </div>
        
        <div class="row">
            <article class="col-md-12">
                <h5>Copyrights and Trademarks</h5>
                <p>All content included on the Services, including but not limited to, text, graphics, logos, buttons, icons, images and software, is the property of us, our licensors or partners and is protected by U.S. and international copyright and trademark laws. Reproduction, duplication, modification, distribution, transmission, replication, display or performance of the content on the Services without the expressed written consent from the Services' content, copyright and trademark owners is strictly prohibited.</p>
            </article>
        </div>
        
         <div class="row">
            <article class="col-md-12">
                <h5>Termination</h5>
                <p>Without prior notice, we may terminate The Agreement or your use of the Services, if we, in our sole discretion, believe you have violated The Agreement or any of the policies applicable to customers, or if you fail to pay any charges when due. We may provide termination notice to you by email.</p>
            </article>
        </div>
        
    </section>
</main>
    
{% endblock body %}
