{% extends "DhiUserBundle::layout.html.twig" %}
{% block body %}

    <main class="cd-main-content">

    <section id="aboutusMenu" class="cd-section aboutUs">
        <div class="container">
            <div class="row">
                <h2>Add Plan Page</h2>
                <span class="titleline"></span>
                <article class="col-md-12"><p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
                    <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
                </article>
            </div>
        </div>
    </section>
        
    </main>
{% endblock body %}