{% extends "DhiUserBundle::layout.html.twig" %}

{% block body %}
    
<div class="innerBg signup">
    <!--middle start here-->
    <div class="container">
        <div class="underConst">
           <div class="col-md-6 col-sm-8 col-xs-12">
            
                <img src="{{ asset('bundles/dhiuser/images/underConst.png') }}" alt="opps" width="256" height="256" />
           
            
            
                <h1>Maintenance Mode!</h1>
                <p><h4>This site is undergoing a brief bit of maintenance.</h4></p>

                <p><h6>We apologize for the inconvenience, we’re doing our
                    best to get things back to working order for you.</h6></p>
           
           </div>
            <div class="row">&nbsp;</div>
        </div>
    </div>
</div>
{% endblock %}


