{% extends "DhiAdminBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    <div class="innerBg">
        <div class="container">
            <div class="row">
                {% block fos_user_content %}
                <p>{{ 'resetting.password_already_requested'|trans }}</p>
                {% endblock fos_user_content %}
            </div>
        </div>
    </div>
{% endblock body %}