{% extends "DhiAdminBundle::login_layout.html.twig" %}
{% block body %}
        <div class="container min_cont_hight">
            <div class="row">
                {% block fos_user_content %}
                    <div class="msgBox">
                        <div class="msgboxin">
                            <p>Congratulations, Your password has been reset successfully.</p>
                            <p>Now you can <a href="{{ url('admin_login') }}">signin</a> with your new password</p>
                        </div>
                     </div>
                {% endblock fos_user_content %}
            </div>
        </div>

{% endblock body %}