{% extends "DhiAdminBundle::layout.html.twig" %}
{% block body %}
<section class="content-header">
	   <h1>Change Password</h1>
	</section>	
<section class="content">
        <div class="row">
           <div class="col-md-12">
           <div class="box box-success">
    
    		<form action="{{ path('dhi_admin_change_password') }}" {{ form_enctype(changePasswordForm) }} method="POST">
            {{ form_widget(changePasswordForm) }}
           <div class="form-group  col-md-4">
		   <input type="submit" class="input" name="update" value="Update"/>
		   </div>
    </form>
		   </div>
		   </div>
		   </div>
		   </section>

{% endblock body %}

