{% extends "DhiUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    <div class="innerBg">
        <div class="container min_cont_hight">
            <div class="row">
                {% block fos_user_content %}
                    <div class="flash-success">
                        <p class="flashMsg btn-success">{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock body %}